body{
    background: #51557E;
   text-align: center;
    
}

h1{
    color: aliceblue;
    font-size: 40px;
    line-height: 2;
    animation: glow 2s  linear;
}
  @keyframes glow{
    0% {
     color: rgb(0, 0, 0);
     text-shadow: none;
    }

   90%{
    color: rgb(0, 0, 0);
    text-shadow: none;
 }
  

  100%{
    text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;
}
    0%{ transform:translateY(-100px);}
    100%{transform:translateY(0px);}
}


.container{
    position: relative;
    width: 600px;
    height: 200px;
    margin:  30px 30%;
    perspective: 1000px;

}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
   cursor: pointer;
    transform-style: preserve-3d;
    transition: all 2s ;
    
}




.cardFront, .cardBack{
    border-radius: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0px 0px 30px rgb(18, 1, 18);
}


/* style and add image */
.topCard{
    background-image: url(Images/lorem1.png);
}

.middleCard{
    background-image: url(Images/lorem2.png);
 
}

.bottomCard{
    background-image: url(Images/lorem3.png);
}

.topCard, .middleCard, .bottomCard{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* hover and rotate*/
.cardFront:hover{
    transform: translateZ(-20px);      
}

 .card.rotate{
    transform: rotateY(180deg);  /*the rotate word trigger the js  */     
}

.cardBack{
    background: rgb(0, 0, 0);
    transform: rotateY(180deg); 
}



/* animation and style for first card */

.topCardBack{
    display: flex;
    justify-content: center;
}
 .textUp{
position: relative;
color: aliceblue;
font-size: 22px;
line-height: 2;
margin-top: 70px;
text-transform: uppercase;
animation: textup 2s ease-in-out infinite;
animation-delay: calc(0.2s * var(--up));
}
    @keyframes textup {
        0%{
            transform: translateY(0px);
            color: rgb(79, 202, 202);
        }
        20%{
            transform: translateY(-20px);
            color: rgb(79, 202, 202);
        }
        40%, 100%{
            transform: translateY(0px);
            color: rgb(34, 184, 67);
        }
        
    }




/* animation and style for second card */
.middleCardBack{
    position: relative;
   
    
}

 .textWave{
    text-transform: uppercase;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 15% 50% ;
    
    
}
.middleCardBack p:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #fefefe;
    
}
.middleCardBack p:nth-child(2){
    color: #13f42d;
    animation: wave 3s ease-in-out infinite;
}
@keyframes wave{
    0%, 100%{
        


        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
        54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 
        0% 100%);

    }
    50%{
       

        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 
        62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0%  100%  );
    }

    
}





/* animation and style for last card */
.bottomCardBack{
    position: relative;
}

.textRight{
    color: #060706;
    text-transform: uppercase;
    position: absolute;
    font-size: 40px;
    letter-spacing: 5px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 15% 30% ;
    -webkit-text-stroke: 1px #fefefe;
    
}


.textRight::before{
    content: attr(data-text);
    position:absolute;
    color:#13f42d;
    -webkit-text-stroke: 0 #060706;
    border-right: 3px solid #13f42d;
    overflow: hidden;
    animation: borderMove 5s linear infinite;
}
@keyframes borderMove{
    0%,10%,100%{
        width: 0;
    }

    80%, 90%{
        width: 100%;
    }
   

}

